 .head{
    color: rgb(55, 72, 90) !important;
font-size: 70px !important;
}
.idgg{
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 40px;
}
.star{
    color: rgb(55, 72, 90) !important;
}
.string{
    background-color: rgb(55, 72, 90) !important;
    width: 120px;
    height: 4px;
    margin-right: 1rem;
    border-radius: 1rem;
}

.line{
    background-color: rgb(55, 72, 90) !important;
    width: 120px;
    height: 4px;
    margin-left: 1rem;
    border-radius: 1rem;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(26, 188, 156, 0.9);
    opacity: 0;
    transition: all .5s;
}
.overlay:hover{
    opacity: 1;
}
